@import "utilities.scss";
/*==============================
        NAV
 ==============================*/
#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  // background: #000;
  padding: 5px 0 !important;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo_container {
      z-index: 99;
      img {
        width: 9rem;
      }
    }

    .boat_area {
      z-index: 99;
      img {
        width: 6rem;
      }
    }
  }
}
#header.sticky {
  position: sticky;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.3) 0px 6px 9px;
}
/*==============================
        BANNER
 ==============================*/
#banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   left: 0;
  //   z-index: 7;
  //   background: linear-gradient(
  //     269.45deg,
  //     rgba(0, 0, 0, 0.77) -15.47%,
  //     rgba(0, 0, 0, 0.47) 52.85%,
  //     rgba(0, 0, 0, 0) 72.9%
  //   );
  // }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 15%;
    left: 0;
    z-index: 7;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    // background: linear-gradient(
    //   180deg,
    //   rgba(0, 0, 0, 0.8) 0%,
    //   rgba(0, 0, 0, 0.6) 36%,
    //   rgba(0, 0, 0, 0) 100%
    // );
  }

  .slider_container {
    width: 100%;

    img {
      width: 100%;
      aspect-ratio: 192/108;
      object-fit: fill;
    }
  }

  .container {
    height: 100vh;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 99;
  }

  .banner_heading {
    .heading_wrapper {
      opacity: 0;
      max-width: 50%;
      width: 60rem;
      z-index: 88;
      position: absolute;
      left: 0;
      bottom: 12%;
      // transform: translateY(50%);
      text-align: left;
      padding: 2rem;
      transition: 3s;
      background: rgba(0, 0, 0, 0.32);
      backdrop-filter: blur(6px);
      border-radius: 5px;

      h1 {
        color: #fff;
        // min-height: 10rem;
        font-size: 3.5rem;
        line-height: 4.6rem;
        margin-bottom: 2rem;
      }
      p {
        text-align: left;
        padding-right: 0;
        padding-left: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 34px;
        color: #fff;
        margin-bottom: 30px;
      }
      span {
        color: #f48c06;
      }
      a {
        color: #f48c06;
      }
      button {
        padding: 0.8rem 3rem;
        font-size: 1.6rem;
      }
    }
  }
}

/*==============================
        CARDS
 ==============================*/
#cards {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 7rem 0;

  .card {
    background: #ffffff;
    border: 1px solid rgba(244, 140, 6, 0.3) !important;
    border-radius: 8px;
    width: 30%;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      cursor: pointer;
      background: $pmColor;

      img {
        border: 3px solid #fff !important;
        border-radius: 10px;
      }
      .card_text {
        color: #fff;
      }
    }

    img {
      margin-bottom: 1.5rem;
      width: 6rem;
    }
    p.card_text {
      text-align: center;
      color: $pmColor;
    }
  }
}

/*==============================
        INTRODUCTION
 ==============================*/
#introduction {
  background: $bgColor;
  font-family: SiyamRupali;
  padding: 8rem;
  display: flex;
  gap: 4rem;
  overflow: hidden;
  position: relative;
  margin-top: 50px;

  img {
    width: 30rem;
    height: 35rem;
  }

  .introduction_text {
    h2 {
      font-size: 4rem;
      line-height: 5rem;
    }
    .article_wrapper {
      article {
        margin: 1.5rem 0 0.5rem;
        font-size: 15px;
        line-height: 23px !important;
        color: $headTxtColor !important;
        text-align: justify;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .hidden {
        opacity: 0;
        position: absolute;
      }
      .buttonContainer {
        display: flex;
        justify-content: flex-end;
      }
    }
    .author {
      margin-top: 1rem !important;
    }
  }
  .author {
    margin-top: 2rem !important;

    b {
      display: block;
      color: $pmColor;
      margin-bottom: 5px;
    }
    .title_wrapper {
      display: flex;
      flex-direction: column;
    }
    span {
      color: $paraColor;
      font-size: 1.3rem;
      line-height: 2rem;
    }
  }
}

/*==============================
        STRENGTH 
 ==============================*/
#strength {
  margin: 5rem 0 2rem;
  position: relative;

  .section_content {
    padding: 5rem 5rem 0;

    .img_area {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        width: 28rem;
      }
    }

    .strength_Info_container {
      display: grid;
      grid-template-columns: 30% 30%;
      grid-gap: 1rem;
      justify-content: space-between;

      .strength_Info {
        display: flex;
        gap: 1rem;
        max-width: 30rem;
        margin-bottom: 4rem;

        b.numbering {
          color: $pmColor;
          // font-family: $RobotoCondensed;
          font-family: SiyamRupali;
          font-size: 2.8rem;
          font-weight: 400;
          margin-top: 5px;
        }

        .strength_text {
          h5 {
            line-height: 3rem;
            font-size: 2.4rem;
            margin-bottom: 1rem;
          }
          p {
            text-align: left;
            font-size: 1.6rem;
            // line-height: 2rem;
          }
        }
      }
    }
  }
}

/*==============================
        PROGRAMS 
 ==============================*/
#programs {
  background: $bgColor;

  .container {
    padding: 8rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
  }
  .section_text {
    max-width: 40rem;
    h2 {
      font-size: 4rem;
      line-height: 5rem;
      font-family: SiyamRupali;
    }
    p {
      margin: 1rem 0 3rem;
    }
  }

  .program_list_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100% !important;

    .programInfo {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      padding: 2rem;
      width: 100% !important;
      background: #fff;
      color: $programColor;

      .date_area {
        min-width: 110px !important;
        border-right: 1.5px solid $paraColor !important;
        padding-right: 1.5rem;

        p {
          color: $paraColor;
          text-align: right;
        }
        b {
          color: $paraColor;
          display: block;
          font-size: 1.8rem;
          font-weight: bolder;
          text-align: right !important;
        }
      }

      .program_title {
        color: $paraColor;
        font-size: 1.8rem;
        // font-family: roboto, san-sarif;
        font-weight: 500;
      }
    }

    .Today {
      background: $pmColor;
      color: #fff;
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        left: 50%;
        top: 0;
        position: absolute;
        width: 5rem;
        height: 100%;
        // opacity: 0.7;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.6) 50%,
          rgba(255, 255, 255, 0) 100%
        );
        animation: leftAnim 6s ease-in-out alternate infinite;
      }

      .date_area {
        border-right: 1.5px solid #fff !important;
        p {
          color: #fff;
        }
        b {
          color: #fff;
        }
      }
      .program_title {
        color: #fff;
      }
    }
  }
}

/*==============================
        POLITICAL TOUR 
 ==============================*/
#political_tour {
  margin: 5rem 0 !important;

  .political_tour_info_container {
    margin: 8rem 0;
    position: relative;

    .political_tour_info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      margin-bottom: 5rem;

      .info_area {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
        width: 50%;
        position: relative;

        // &:hover {
        //   &::after {
        //     content: "";
        //     position: absolute;
        //     width: 215%;
        //     height: 130%;
        //     background: $bgColor;
        //     z-index: -1;
        //   }
        // }

        .text_area {
          text-align: right;
          h6 {
            font-size: 1.7rem;
            line-height: 2.2rem;
            margin-bottom: 5px;
          }
          p {
            font-size: 1.4rem;
            line-height: 2rem;
            text-align: right;
          }
        }

        img {
          border-radius: 50%;
          width: 80px;
          height: 80px;
          object-fit: fill;
        }
      }

      .season {
        width: 50%;
        font-size: 1.7rem;
        font-weight: 700;
        z-index: 1;
        position: relative;
        color: $headTxtColor;
      }

      // Middle Point
      .mid_icon {
        width: 2rem;
        height: 2rem;
        background: #ffeed8;
        border-radius: 50%;
        position: relative;
        animation: scaleOneThree 2s linear alternate infinite;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 50%;
          height: 50%;
          border-radius: 50%;
          background: $pmColor;
        }
      }
    }
    .reverse {
      flex-direction: row-reverse;

      .info_area {
        flex-direction: row-reverse;

        .text_area {
          text-align: left;
          p {
            text-align: left;
          }
        }
      }

      .season {
        text-align: right;
      }
    }

    // Middle Line
    .middle_line {
      position: absolute;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: calc(100% - 80px);
      background: $pmColor;
    }
  }
}

/*==============================
        SOCIAL WORKS 
 ==============================*/
#social_works {
  background: $bgColor;
  padding: 6rem;
  display: flex;
  align-items: center;
  gap: 5rem;

  .section_text {
    max-width: 40rem;
    h2 {
      font-size: 4rem;
      line-height: 5rem;
    }
    p {
      margin: 1rem 0 3rem;
    }
  }
  iframe {
    // width: 100%;
    width: 560px;
    aspect-ratio: 16/9;
    border-radius: 10px;
  }
}

/*==============================
        PHOTOS & VIDEOS 
 ==============================*/
#photosVideos {
  margin: 5rem 0 !important;

  .btn_block {
    margin: 5rem 0 3rem;
    text-align: center;

    .btn_wrapper {
      position: relative;
      display: inline-block;
      border-radius: 50px;
      overflow: hidden;
      border: 1px solid $paraColor !important;
      padding: 1px;

      span {
        border-radius: 50px;
        transition: 0.4s;
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: calc(100%);
        background: $pmColor;
        z-index: -1;
      }

      button {
        background: none;
        padding: 1rem 4rem;
        font-family: SiyamRupali;
        // font-weight: 700;
        font-size: 1.8rem;
        cursor: pointer;
        transition: color 0.5s;
        color: #000;
      }
    }

    // If Video Button Active
    .videoActive {
      span {
        width: 60% !important;
        left: 45%;
      }
      .videosBtn {
        color: #fff;
      }
    }
    // If Photos Button Active
    .photosActive {
      .photosBtn {
        color: #fff;
      }
    }
    .photosActive .videosBtn {
      animation: scaleOne 0.5s linear infinite alternate;
    }
    .videoActive .photosBtn {
      animation: scaleOne 0.5s linear infinite alternate;
    }
  }

  .photo_grid {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   width: 100%;
    //   height: 100%;
    //   left: 0;
    //   z-index: 1;
    //   background: linear-gradient(
    //     0deg,
    //     rgba(0, 0, 0, 0.85
    //     ) 6.78%,
    //     rgba(0, 0, 0, 0.5) 36.77%,
    //     rgba(0, 0, 0, 0) 80%
    //   );
    // }

    img {
      width: 100%;
      aspect-ratio: 192/108;
      cursor: pointer;
      overflow: hidden;
      border-radius: 10px;
      object-fit: fill;
    }
  }

  .video_grid {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    .video_wrapper {
      position: relative;
    }

    .loader_text {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: -1;
      font-size: 2rem;
      font-weight: 700;
    }

    iframe {
      width: 100%;
      aspect-ratio: 16/9;
      border: 1px solid $headTxtColor !important;
      border-radius: 10px;
    }
  }

  .more_btn {
    text-align: center;
    margin: 3rem 0 2rem;
  }

  .button-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
}

/*==============================
        CONTACT ME
 ==============================*/
#contactMe {
  .section_content {
    margin: 5rem 0;
    display: flex;
    gap: 4rem;
  }

  form {
    width: 40%;
    max-width: 45rem;
    height: 60rem;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem;
    gap: 20px;
    font-family: SiyamRupali;

    h6 {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      align-self: center;
    }

    input,
    textarea {
      background: #f5f5f5;
      resize: none;
      width: 100% !important;
      color: #000;
      border: 1px solid #e8e8e8 !important;
      font-size: 1.6rem;
      font-family: SiyamRupali;
      // color: $pmColor;
      // border-radius: 5px;

      &:focus {
        border: 1px solid $pmColor !important;
      }
    }
    textarea {
      height: 32rem !important;
    }
  }

  form.error {
    input,
    textarea {
      border: 1px solid red !important;
    }
  }

  .contacts_area {
    width: 60%;
  }

  .contact_options {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .contact {
      max-width: 25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      text-align: center;
      font-size: 3rem;
      color: $pmColor;

      span.text {
        font-size: 1.5rem;
        color: $paraColor;
      }
      span.icon {
        animation: scaleOne 1s ease-in-out infinite alternate;
      }
    }
  }

  .map_wrapper {
    padding: 4rem 0 2rem;

    iframe {
      width: 100%;
      height: 43rem;
    }
  }

  .social_links {
    display: flex;
    gap: 3rem;
    font-size: 3rem;

    a {
      color: $pmColor;
      // animation: threeSixty 3s infinite alternate;
    }
  }
}

/*==============================
        FOOTER
 ==============================*/
#footer {
  text-align: center;
  color: $pmColor;
  background: $bgColor;
  padding: 5rem 0;

  .copyrights {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;

    span {
      font-family: $RobotoCondensed;
    }

    h6 {
      font-size: 1.6rem;
      color: $pmColor;
    }
  }

  .rights {
    font-family: $RobotoCondensed;
  }
}

/*==============================
        LOADER
 ==============================*/
#loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999;
  background: #030303cf;
  color: #fff;
  display: grid;
  place-content: center;
}

// ===========
.researchComponent {
  .Research_title {
    margin-bottom: 40px;
  }

  .research_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    overflow: hidden;
  }
  .research_container {
    position: relative;
    cursor: pointer;
    // height: 270px;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      aspect-ratio: 192/130;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      padding: 10px;
      transition: all 0.3s linear;
      width: 100%;
      height: 100%;
      color: #fff;
      display: grid;
      place-content: center;

      &:hover {
        background: hsla(34, 95%, 49%, 0.7);
      }

      h4 {
        color: #fff;
        overflow: hidden;
        // padding: 10px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        text-align: center;
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 10px;
      }

      p {
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        text-align: left;
      }
    }
  }
}

// ===
.reseachModal {
  border-radius: 10px;
  // position: ;

  .modalFooter {
    bottom: 0;
    left: 0;
    position: sticky;
    background: #f1f1f1;
    padding: 15px;

    button,
    a {
      cursor: pointer;
      width: 100px;
      padding: 4px 10px;
      font-size: 15px;
      margin-right: 10px;
    }
  }
}

#researchPage {
  // background: #000;
  margin-top: 50px;

  .research_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    overflow: hidden;
  }
  .research_container {
    position: relative;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      aspect-ratio: 192/142;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      padding: 10px;
      transition: all 0.3s linear;
      width: 100%;
      height: 100%;
      color: #fff;
      display: grid;
      place-content: center;

      &:hover {
        background: hsla(34, 95%, 49%, 0.7);
      }

      h4 {
        color: #fff;
        overflow: hidden;
        // padding: 10px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        text-align: center;
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 10px;
      }

      p {
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        text-align: left;
      }
    }
  }
}

#seminar {
  margin: 5rem 0 !important;
  .section_content {
    background: $bgColor;
    display: grid;
    // grid-template-columns: 30% 70%;
    grid-template-columns: 3fr 9fr;
    gap: 40px;
    overflow: hidden;
    padding: 25px;
  }
  .title_area {
    gap: 10px;
    display: flex;
    flex-direction: column;
    // justify-content: center;

    button {
      display: block;
      padding: 10px;
      cursor: pointer;
      border-radius: 5px;
      margin-bottom: 15px;
    }
    svg {
      margin: 0 10px;
    }
    button.activeSeminar {
      background: $pmColor;
      color: #fff;
    }
  }

  .seminar_item {
    // display: flex;
    display: none;

    img {
      width: 100%;
      object-fit: fill;
      aspect-ratio: 192/108;
    }
    p {
    }
  }
  .seminar_item.activeSeminar {
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 40px;
  }
}
/*==============================
        RESPONSIVE
 ==============================*/
@import "responsive.scss";
